<div class="row">
	<div class="col-6 mx-auto">
		<p> Attribut binding </p>
	</div>
	<div class="col-6 mx-auto">
		<input type="text" [value]="attributValue" />
	</div>
</div>

<div class="row">
	<div class="col-6 mx-auto">
		<p> Event binding </p>
	</div>
	<div class="col-6 mx-auto">
		<button (click)="clickBinding()"> Click me! </button>
	</div>
</div>
<div class="row">
	<div class="col-6 mx-auto">
		<p> Interpolation example:</p>
	</div>
	<div class="col-6 mx-auto">
		{{ message }}
	</div>
</div>

